@import './variables';
.btn{
	border-radius: 3em;
	padding: 0.5em 1.5em;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all .7s;
	font-weight: 300 !important;
	font-size: 1em;
	pointer-events: auto;
}
.btn-primary{
	color: $white;
	background: $blue !important;
	box-shadow: 0 0 30px $blue;
	border: none;
	padding: .7em 2.5em;
	line-height: 2em;
	span{
		position: relative;
		top: 3px;
		font-size:1.7em;
		margin-left: .5em;
		img{
			margin-top: -4px;
		}
	}
	&:hover{
		box-shadow: 0 0 15px $blue;
		transform: translateY(-2px);
	}
}
.btn-secondary{
	padding: 0 1.5em;
	line-height: 3em;
	font-size: .8em;

	color: $white;
	background: $blue;
	border: none;
	transition: color .7s;
	box-shadow: 0 0 0 $blue;
	transition: all .3s;
	&:hover{
		text-decoration: none;
		box-shadow: 0 0 15px $blue;
		background: $blue;
	}
}
a{
	cursor: pointer;
	transition: color .3s;
	&:hover{
		text-decoration: none;
	}
}