// Global styling for this template

html,body{
  position: relative;
  min-height: 100%;
  background: $midnight !important;
  color: $gray;
  overflow-x: hidden;
}
#app{
  display: block;
  position: relative;
  overflow-x: hidden;
}
.text-page{
  padding: 10em 0;
}
body.sticky-footer {
  margin-bottom: $sticky-footer-height;
  .content-wrapper {
    min-height: calc(100vh - #{$sticky-footer-height} - #{$navbar-base-height});
  }
}

body.fixed-nav {
  padding-top: $navbar-base-height;
}

.content-wrapper {
  min-height: calc(100vh - #{$sticky-footer-height});
  padding-top: 1rem;
}
