@import '../../../static/scss/variables';
.ctaSection{
	padding: 1em 0 5em 0;
	.bordered-container{
		padding: 2em 0 1em 2em;
		border: 1px solid rgba(255,255,255,.3);
		border-radius: 1em;
		vertical-align: middle;
	}
	button{ margin-top: 2em; }
	img{
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 0;
		opacity: .3;
		filter: drop-shadow(5px 0 30px rgba($blue, 0.2));
	}
}

@media (min-width: 992px) {
	.ctaSection{
		padding: 10em 0;
	}
	.bordered-container{
		padding: 5em 0 5em 5em;
	}
	img{
		display: inline;
		position: relative;
		filter: drop-shadow(5px 0 30px rgba($blue, 0.2));
	}
}