@import '../../../scss/variables';

.directSection{
	background: $midnight;
	padding: 3em 0;
	text-align: center;
	img{
		display: inline-block;
		width: 40%;
		padding: 10%;
		opacity: .3;
		margin: 2%;
	}
}

@media (min-width: 992px) {
	.directSection{
		padding: 5em 0;
		text-align: center;
		img{
			padding: 0;
			width: 8%;
			opacity: .3;
			margin: 2%;
		}
	}
}