@import '../../../static/scss/variables';
.navbar-expand-md{
	padding: 2em;
	pointer-events: none;
}
button,a{
	pointer-events: auto;
}
.nav-item{
	pointer-events: auto;
	margin-right: 2em;
	a{
		color: $white !important;
		opacity: .7;
		transition: all .5s;
		&:hover{
			opacity: 1;
			transform: translateY(-2px);
		}
	}
}
.navbar-collapse{
	width: 100%;
	background: rgba($black,.97);
	text-align: center;
	padding: 1em;
	border-radius: .5em;
	li{ margin-right: 0}
	a{ margin: .5em 0; }
	button{ margin-top: 1em;}
}
@media (min-width: 768px) {
	.navbar-collapse{
		background: none;
		a{ margin: 0 1em 0 0; }
		button{ margin-top: 0;}
	}
}