@import '../../../static/scss/variables';
.activity-chart{
	display: none;
}
@media (min-width: 430px) {
	.activity-chart{
		display: block;
		text-align: center;
		background-image: linear-gradient(-45deg, rgba(0,150,255, .2) 0%, $indigo 50%, rgba(0,150,255, .2) 100%);
		padding: 10em 0;
		.chartjs-render-monitor{
			min-height: 500px;
		}
	}
	.chart-container{
		position: relative;
		height:80vh;
		width:98vw
	}
}