@import '../../../scss/variables';
.activity-chart{
	display: none;
}
@media (min-width: 430px) {
	.activity-chart{
		display: block;
		position: relative;
		text-align: center;
		padding: 5em 0;
		.chartjs-render-monitor{
			min-height: 500px;
		}
	}
	.chart-container{
		position: relative;
		height:80vh;
		width:98vw
	}
}