@import '../../../scss/variables';

.account-page{
  padding: 10em 0;
  code{
    display: block;
    position: relative;
    width: 100%;
    overflow: auto;
    margin-top: 3em;
    padding:1em 2em;
    background: rgba(lighten($black,10%),.5);
    color: rgba($white,.3);
    border-radius: .5em;
  }
}