// Color Variables
$white: #fff !default;
$gray: rgba(255,255,255,0.95) !default;
$gray-100: rgba(0,0,0,0.9) !default;
$gray-200: rgba(0,0,0,0.8) !default;
$gray-300: rgba(255,255,255,0.7) !default;
$gray-400: rgba(0,0,0,0.6) !default;
$gray-500: rgba(255,255,255,0.5) !default;
$gray-600: rgba(0,0,0,0.4) !default;
$gray-700: rgba(0,0,0,0.3) !default;
$gray-800: rgba(0,0,0,0.2) !default;
$gray-900: rgba(0,0,0,0.1) !default;
$black: #18054d !default;

$blue: #0053FB !default;
$indigo: #0B1348 !default;
$midnight: #0E0525 !default;
$purple: #BD2793 !default;
$red: #C7144A !default;

// Spacing Variables
$navbar-base-height: 56px;
$sidenav-base-width: 350px;
$sidenav-collapsed-width: 55px;
$sticky-footer-height: 36px;